<div class="container-fluid">
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Home</th>
    <th>Away</th>
  </thead>
  <tr ng-repeat="pool in pools">
    <td><a href="pools/{{pool.id}}">{{pool.name}}</a></td>
    <td>{{pool.email}}</td>
    <td>{{pool.homecity}} {{pool.hometeam}}</td>
    <td>{{pool.awaycity}} {{pool.awayteam}}</td>
  </tr>
</table>
</div>