<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <tr>
          <td class="box-headers"></td>
          <td class="box-headers">{{nflpool.data[0].x0}}</td>
          <td class="box-headers">{{nflpool.data[0].x1}}</td>
          <td class="box-headers">{{nflpool.data[0].x2}}</td>
          <td class="box-headers">{{nflpool.data[0].x3}}</td>
          <td class="box-headers">{{nflpool.data[0].x4}}</td>
          <td class="box-headers">{{nflpool.data[0].x5}}</td>
          <td class="box-headers">{{nflpool.data[0].x6}}</td>
          <td class="box-headers">{{nflpool.data[0].x7}}</td>
          <td class="box-headers">{{nflpool.data[0].x8}}</td>
          <td class="box-headers">{{nflpool.data[0].x9}}</td>
          <td rowspan="12" class="away-title"><h6 class="text-uppercase"><span style="color: #{{nflpool.data[0].awaycolor1}}">{{nflpool.data[0].awaycity}}</span> <span style="color: #{{nflpool.data[0].awaycolor2}}">{{nflpool.data[0].awayteam}}</span></h6></td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y0}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[0].boxid}}">{{nflpool.boxes[0].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[1].boxid}}">{{nflpool.boxes[1].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[2].boxid}}">{{nflpool.boxes[2].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[3].boxid}}">{{nflpool.boxes[3].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[4].boxid}}">{{nflpool.boxes[4].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[5].boxid}}">{{nflpool.boxes[5].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[6].boxid}}">{{nflpool.boxes[6].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[7].boxid}}">{{nflpool.boxes[7].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[8].boxid}}">{{nflpool.boxes[8].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[9].boxid}}">{{nflpool.boxes[9].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y1}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[10].boxid}}">{{nflpool.boxes[10].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[11].boxid}}">{{nflpool.boxes[11].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[12].boxid}}">{{nflpool.boxes[12].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[13].boxid}}">{{nflpool.boxes[13].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[14].boxid}}">{{nflpool.boxes[14].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[15].boxid}}">{{nflpool.boxes[15].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[16].boxid}}">{{nflpool.boxes[16].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[17].boxid}}">{{nflpool.boxes[17].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[18].boxid}}">{{nflpool.boxes[18].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[19].boxid}}">{{nflpool.boxes[19].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y2}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[20].boxid}}">{{nflpool.boxes[20].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[21].boxid}}">{{nflpool.boxes[21].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[22].boxid}}">{{nflpool.boxes[22].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[23].boxid}}">{{nflpool.boxes[23].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[24].boxid}}">{{nflpool.boxes[24].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[25].boxid}}">{{nflpool.boxes[25].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[26].boxid}}">{{nflpool.boxes[26].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[27].boxid}}">{{nflpool.boxes[27].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[28].boxid}}">{{nflpool.boxes[28].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[29].boxid}}">{{nflpool.boxes[29].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y3}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[30].boxid}}">{{nflpool.boxes[30].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[31].boxid}}">{{nflpool.boxes[31].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[32].boxid}}">{{nflpool.boxes[32].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[33].boxid}}">{{nflpool.boxes[33].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[34].boxid}}">{{nflpool.boxes[34].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[35].boxid}}">{{nflpool.boxes[35].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[36].boxid}}">{{nflpool.boxes[36].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[37].boxid}}">{{nflpool.boxes[37].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[38].boxid}}">{{nflpool.boxes[38].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[39].boxid}}">{{nflpool.boxes[39].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y4}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[40].boxid}}">{{nflpool.boxes[40].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[41].boxid}}">{{nflpool.boxes[41].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[42].boxid}}">{{nflpool.boxes[42].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[43].boxid}}">{{nflpool.boxes[43].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[44].boxid}}">{{nflpool.boxes[44].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[45].boxid}}">{{nflpool.boxes[45].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[46].boxid}}">{{nflpool.boxes[46].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[47].boxid}}">{{nflpool.boxes[47].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[48].boxid}}">{{nflpool.boxes[48].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[49].boxid}}">{{nflpool.boxes[49].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y5}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[50].boxid}}">{{nflpool.boxes[50].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[51].boxid}}">{{nflpool.boxes[51].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[52].boxid}}">{{nflpool.boxes[52].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[53].boxid}}">{{nflpool.boxes[53].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[54].boxid}}">{{nflpool.boxes[54].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[55].boxid}}">{{nflpool.boxes[55].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[56].boxid}}">{{nflpool.boxes[56].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[57].boxid}}">{{nflpool.boxes[57].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[58].boxid}}">{{nflpool.boxes[58].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[59].boxid}}">{{nflpool.boxes[59].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y6}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[60].boxid}}">{{nflpool.boxes[60].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[61].boxid}}">{{nflpool.boxes[61].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[62].boxid}}">{{nflpool.boxes[62].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[63].boxid}}">{{nflpool.boxes[63].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[64].boxid}}">{{nflpool.boxes[64].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[65].boxid}}">{{nflpool.boxes[65].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[66].boxid}}">{{nflpool.boxes[66].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[67].boxid}}">{{nflpool.boxes[67].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[68].boxid}}">{{nflpool.boxes[68].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[69].boxid}}">{{nflpool.boxes[69].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y7}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[70].boxid}}">{{nflpool.boxes[70].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[71].boxid}}">{{nflpool.boxes[71].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[72].boxid}}">{{nflpool.boxes[72].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[73].boxid}}">{{nflpool.boxes[73].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[74].boxid}}">{{nflpool.boxes[74].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[75].boxid}}">{{nflpool.boxes[75].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[76].boxid}}">{{nflpool.boxes[76].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[77].boxid}}">{{nflpool.boxes[77].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[78].boxid}}">{{nflpool.boxes[78].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[79].boxid}}">{{nflpool.boxes[79].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y8}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[80].boxid}}">{{nflpool.boxes[80].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[81].boxid}}">{{nflpool.boxes[81].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[82].boxid}}">{{nflpool.boxes[82].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[83].boxid}}">{{nflpool.boxes[83].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[84].boxid}}">{{nflpool.boxes[84].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[85].boxid}}">{{nflpool.boxes[85].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[86].boxid}}">{{nflpool.boxes[86].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[87].boxid}}">{{nflpool.boxes[87].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[88].boxid}}">{{nflpool.boxes[88].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[89].boxid}}">{{nflpool.boxes[89].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{nflpool.data[0].y9}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[90].boxid}}">{{nflpool.boxes[90].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[91].boxid}}">{{nflpool.boxes[91].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[92].boxid}}">{{nflpool.boxes[92].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[93].boxid}}">{{nflpool.boxes[93].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[94].boxid}}">{{nflpool.boxes[94].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[95].boxid}}">{{nflpool.boxes[95].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[96].boxid}}">{{nflpool.boxes[96].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[97].boxid}}">{{nflpool.boxes[97].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[98].boxid}}">{{nflpool.boxes[98].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#myModal" data-info="{{nflpool.boxes[99].boxid}}">{{nflpool.boxes[99].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers"></td>
          <td colspan="10" class="home-title text-uppercase"><span style="color: #{{nflpool.data[0].homecolor1}}">{{nflpool.data[0].homecity}}</span> <span style="color: #{{nflpool.data[0].homecolor2}}">{{nflpool.data[0].hometeam}}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>