<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <tr>
          <td class="box-headers"></td>
          <td class="box-headers">{{pool.data[0].x0}}</td>
          <td class="box-headers">{{pool.data[0].x1}}</td>
          <td class="box-headers">{{pool.data[0].x2}}</td>
          <td class="box-headers">{{pool.data[0].x3}}</td>
          <td class="box-headers">{{pool.data[0].x4}}</td>
          <td class="box-headers">{{pool.data[0].x5}}</td>
          <td class="box-headers">{{pool.data[0].x6}}</td>
          <td class="box-headers">{{pool.data[0].x7}}</td>
          <td class="box-headers">{{pool.data[0].x8}}</td>
          <td class="box-headers">{{pool.data[0].x9}}</td>
          <td rowspan="12" class="away-title"><h6 class="text-uppercase"><span style="color: #{{pool.data[0].awaycolor1}}">{{pool.data[0].awaycity}}</span> <span style="color: #{{pool.data[0].awaycolor2}}">{{pool.data[0].awayteam}}</span></h6></td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y0}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[0].boxid}}">{{pool.boxes[0].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[1].boxid}}">{{pool.boxes[1].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[2].boxid}}">{{pool.boxes[2].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[3].boxid}}">{{pool.boxes[3].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[4].boxid}}">{{pool.boxes[4].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[5].boxid}}">{{pool.boxes[5].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[6].boxid}}">{{pool.boxes[6].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[7].boxid}}">{{pool.boxes[7].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[8].boxid}}">{{pool.boxes[8].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[9].boxid}}">{{pool.boxes[9].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y1}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[10].boxid}}">{{pool.boxes[10].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[11].boxid}}">{{pool.boxes[11].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[12].boxid}}">{{pool.boxes[12].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[13].boxid}}">{{pool.boxes[13].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[14].boxid}}">{{pool.boxes[14].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[15].boxid}}">{{pool.boxes[15].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[16].boxid}}">{{pool.boxes[16].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[17].boxid}}">{{pool.boxes[17].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[18].boxid}}">{{pool.boxes[18].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[19].boxid}}">{{pool.boxes[19].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y2}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[20].boxid}}">{{pool.boxes[20].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[21].boxid}}">{{pool.boxes[21].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[22].boxid}}">{{pool.boxes[22].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[23].boxid}}">{{pool.boxes[23].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[24].boxid}}">{{pool.boxes[24].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[25].boxid}}">{{pool.boxes[25].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[26].boxid}}">{{pool.boxes[26].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[27].boxid}}">{{pool.boxes[27].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[28].boxid}}">{{pool.boxes[28].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[29].boxid}}">{{pool.boxes[29].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y3}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[30].boxid}}">{{pool.boxes[30].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[31].boxid}}">{{pool.boxes[31].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[32].boxid}}">{{pool.boxes[32].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[33].boxid}}">{{pool.boxes[33].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[34].boxid}}">{{pool.boxes[34].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[35].boxid}}">{{pool.boxes[35].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[36].boxid}}">{{pool.boxes[36].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[37].boxid}}">{{pool.boxes[37].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[38].boxid}}">{{pool.boxes[38].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[39].boxid}}">{{pool.boxes[39].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y4}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[40].boxid}}">{{pool.boxes[40].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[41].boxid}}">{{pool.boxes[41].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[42].boxid}}">{{pool.boxes[42].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[43].boxid}}">{{pool.boxes[43].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[44].boxid}}">{{pool.boxes[44].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[45].boxid}}">{{pool.boxes[45].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[46].boxid}}">{{pool.boxes[46].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[47].boxid}}">{{pool.boxes[47].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[48].boxid}}">{{pool.boxes[48].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[49].boxid}}">{{pool.boxes[49].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y5}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[50].boxid}}">{{pool.boxes[50].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[51].boxid}}">{{pool.boxes[51].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[52].boxid}}">{{pool.boxes[52].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[53].boxid}}">{{pool.boxes[53].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[54].boxid}}">{{pool.boxes[54].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[55].boxid}}">{{pool.boxes[55].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[56].boxid}}">{{pool.boxes[56].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[57].boxid}}">{{pool.boxes[57].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[58].boxid}}">{{pool.boxes[58].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[59].boxid}}">{{pool.boxes[59].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y6}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[60].boxid}}">{{pool.boxes[60].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[61].boxid}}">{{pool.boxes[61].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[62].boxid}}">{{pool.boxes[62].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[63].boxid}}">{{pool.boxes[63].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[64].boxid}}">{{pool.boxes[64].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[65].boxid}}">{{pool.boxes[65].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[66].boxid}}">{{pool.boxes[66].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[67].boxid}}">{{pool.boxes[67].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[68].boxid}}">{{pool.boxes[68].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[69].boxid}}">{{pool.boxes[69].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y7}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[70].boxid}}">{{pool.boxes[70].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[71].boxid}}">{{pool.boxes[71].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[72].boxid}}">{{pool.boxes[72].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[73].boxid}}">{{pool.boxes[73].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[74].boxid}}">{{pool.boxes[74].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[75].boxid}}">{{pool.boxes[75].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[76].boxid}}">{{pool.boxes[76].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[77].boxid}}">{{pool.boxes[77].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[78].boxid}}">{{pool.boxes[78].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[79].boxid}}">{{pool.boxes[79].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y8}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[80].boxid}}">{{pool.boxes[80].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[81].boxid}}">{{pool.boxes[81].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[82].boxid}}">{{pool.boxes[82].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[83].boxid}}">{{pool.boxes[83].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[84].boxid}}">{{pool.boxes[84].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[85].boxid}}">{{pool.boxes[85].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[86].boxid}}">{{pool.boxes[86].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[87].boxid}}">{{pool.boxes[87].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[88].boxid}}">{{pool.boxes[88].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[89].boxid}}">{{pool.boxes[89].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pool.data[0].y9}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[90].boxid}}">{{pool.boxes[90].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[91].boxid}}">{{pool.boxes[91].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[92].boxid}}">{{pool.boxes[92].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[93].boxid}}">{{pool.boxes[93].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[94].boxid}}">{{pool.boxes[94].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[95].boxid}}">{{pool.boxes[95].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[96].boxid}}">{{pool.boxes[96].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[97].boxid}}">{{pool.boxes[97].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[98].boxid}}">{{pool.boxes[98].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-info="{{pool.boxes[99].boxid}}">{{pool.boxes[99].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers"></td>
          <td colspan="10" class="home-title text-uppercase"><span style="color: #{{pool.data[0].homecolor1}}">{{pool.data[0].homecity}}</span> <span style="color: #{{pool.data[0].homecolor2}}">{{pool.data[0].hometeam}}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>