<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <tr>
          <td class="box-headers"></td>
          <td class="box-headers">{{pools[pid].x0}}</td>
          <td class="box-headers">{{pools[pid].x1}}</td>
          <td class="box-headers">{{pools[pid].x2}}</td>
          <td class="box-headers">{{pools[pid].x3}}</td>
          <td class="box-headers">{{pools[pid].x4}}</td>
          <td class="box-headers">{{pools[pid].x5}}</td>
          <td class="box-headers">{{pools[pid].x6}}</td>
          <td class="box-headers">{{pools[pid].x7}}</td>
          <td class="box-headers">{{pools[pid].x8}}</td>
          <td class="box-headers">{{pools[pid].x9}}</td>
          <td rowspan="12" class="away-title"><h6 class="text-uppercase"><span style="color: #{{pool[pid].awaycolor1}}">{{pools[pid].awaycity}}</span> <span style="color: #{{pools[pid].awaycolor2}}">{{pools[pid].awayteam}}</span></h6></td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y0}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[0].boxid}}">{{boxes[0].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[1].boxid}}">{{boxes[1].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[2].boxid}}">{{boxes[2].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[3].boxid}}">{{boxes[3].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[4].boxid}}">{{boxes[4].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[5].boxid}}">{{boxes[5].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[6].boxid}}">{{boxes[6].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[7].boxid}}">{{boxes[7].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[8].boxid}}">{{boxes[8].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y0}}" data-info="{{boxes[9].boxid}}">{{boxes[9].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y1}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[10].boxid}}">{{boxes[10].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[11].boxid}}">{{boxes[11].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[12].boxid}}">{{boxes[12].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[13].boxid}}">{{boxes[13].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[14].boxid}}">{{boxes[14].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[15].boxid}}">{{boxes[15].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[16].boxid}}">{{boxes[16].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[17].boxid}}">{{boxes[17].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[18].boxid}}">{{boxes[18].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y1}}" data-info="{{boxes[19].boxid}}">{{boxes[19].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y2}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[20].boxid}}">{{boxes[20].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[21].boxid}}">{{boxes[21].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[22].boxid}}">{{boxes[22].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[23].boxid}}">{{boxes[23].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[24].boxid}}">{{boxes[24].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[25].boxid}}">{{boxes[25].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[26].boxid}}">{{boxes[26].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[27].boxid}}">{{boxes[27].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[28].boxid}}">{{boxes[28].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y2}}" data-info="{{boxes[29].boxid}}">{{boxes[29].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y3}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[30].boxid}}">{{boxes[30].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[31].boxid}}">{{boxes[31].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[32].boxid}}">{{boxes[32].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[33].boxid}}">{{boxes[33].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[34].boxid}}">{{boxes[34].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[35].boxid}}">{{boxes[35].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[36].boxid}}">{{boxes[36].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[37].boxid}}">{{boxes[37].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[38].boxid}}">{{boxes[38].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y3}}" data-info="{{boxes[39].boxid}}">{{boxes[39].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y4}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[40].boxid}}">{{boxes[40].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[41].boxid}}">{{boxes[41].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[42].boxid}}">{{boxes[42].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[43].boxid}}">{{boxes[43].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[44].boxid}}">{{boxes[44].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[45].boxid}}">{{boxes[45].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[46].boxid}}">{{boxes[46].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[47].boxid}}">{{boxes[47].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[48].boxid}}">{{boxes[48].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y4}}" data-info="{{boxes[49].boxid}}">{{boxes[49].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y5}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[50].boxid}}">{{boxes[50].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[51].boxid}}">{{boxes[51].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[52].boxid}}">{{boxes[52].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[53].boxid}}">{{boxes[53].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[54].boxid}}">{{boxes[54].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[55].boxid}}">{{boxes[55].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[56].boxid}}">{{boxes[56].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[57].boxid}}">{{boxes[57].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[58].boxid}}">{{boxes[58].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y5}}" data-info="{{boxes[59].boxid}}">{{boxes[59].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y6}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[60].boxid}}">{{boxes[60].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[61].boxid}}">{{boxes[61].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[62].boxid}}">{{boxes[62].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[63].boxid}}">{{boxes[63].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[64].boxid}}">{{boxes[64].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[65].boxid}}">{{boxes[65].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[66].boxid}}">{{boxes[66].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[67].boxid}}">{{boxes[67].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[68].boxid}}">{{boxes[68].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y6}}" data-info="{{boxes[69].boxid}}">{{boxes[69].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y7}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[70].boxid}}">{{boxes[70].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[71].boxid}}">{{boxes[71].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[72].boxid}}">{{boxes[72].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[73].boxid}}">{{boxes[73].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[74].boxid}}">{{boxes[74].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[75].boxid}}">{{boxes[75].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[76].boxid}}">{{boxes[76].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[77].boxid}}">{{boxes[77].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[78].boxid}}">{{boxes[78].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y7}}" data-info="{{boxes[79].boxid}}">{{boxes[79].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y8}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[80].boxid}}">{{boxes[80].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[81].boxid}}">{{boxes[81].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[82].boxid}}">{{boxes[82].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[83].boxid}}">{{boxes[83].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[84].boxid}}">{{boxes[84].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[85].boxid}}">{{boxes[85].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[86].boxid}}">{{boxes[86].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[87].boxid}}">{{boxes[87].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[88].boxid}}">{{boxes[88].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y8}}" data-info="{{boxes[89].boxid}}">{{boxes[89].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers">{{pools[pid].y9}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x0}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[90].boxid}}">{{boxes[90].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x1}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[91].boxid}}">{{boxes[91].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x2}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[92].boxid}}">{{boxes[92].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x3}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[93].boxid}}">{{boxes[93].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x4}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[94].boxid}}">{{boxes[94].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x5}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[95].boxid}}">{{boxes[95].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x6}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[96].boxid}}">{{boxes[96].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x7}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[97].boxid}}">{{boxes[97].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x8}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[98].boxid}}">{{boxes[98].initials}}</td>
          <td class="box" data-toggle="modal" data-target="#details" data-x="{{pools[pid].x9}}" data-y="{{pools[pid].y9}}" data-info="{{boxes[99].boxid}}">{{boxes[99].initials}}</td>
        </tr>
        <tr>
          <td class="box-headers"></td>
          <td colspan="10" class="home-title text-uppercase"><span style="color: #{{pools[pid].homecolor1}}">{{pools[pid].homecity}}</span> <span style="color: #{{pools[pid].homecolor2}}">{{pools[pid].hometeam}}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>