// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #DDDDDD;
$secondary-color: #FFD700;


    body {
      background-color: $primary-color;
      background-image: url('/assets/field.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #000000;
    }
    table {
      background-color: #FFFFFF;
      box-shadow: 4px 4px 15px #000000;
    }
    td {
      height: 6vh;
      width: 4vw;
    }
    h6 {
      width: 1px;
      line-height: 1em;
      word-wrap: break-word;
      font-size: 2em;
      margin-top: 40px;
      text-shadow: 1px 1px #999;
    }
    .box-headers {
      background-color: $primary-color;
      font-size: 1.6em;
    }
    .home-title {
      font-family: monospace;
      font-size: 2em;
      text-align: center;
      line-height: 1em;
      background-color: $primary-color;
      text-shadow: 1px 1px #999;
    }
    .away-title {
      font-family: monospace;
      text-align: center;
      vertical-align: bottom;
      color: red;
      background-color: $primary-color;
      min-width: 28px;
    }
    .navbar {
      height: 125px;
      background-image: url('/assets/football.jpg');
      background-size: cover;
      background-position: 0 -100px;
      margin-bottom: 0;
    }
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      padding: 40px 0 50px 45px;
    }
    .logo1 {
      color: $primary-color;
      font-size: 2em;
    }
    .logo2 {
      color: $secondary-color;
      font-size: 2em;
    }
    .location{
      font-size: 0.7em;
      color: #FFFFFF;
    }
    .trophy {
      background-image: url('/assets/logo.jpg');
      background-size: cover;
      width: 100px;
      height: 100px;
      padding: 0;
      margin: 10px 0 0 0;
      float: right;
    }
    .nav {
      background-color: $secondary-color;
      text-align: center;
      padding: 0;
      margin-bottom: 20px;
    }
    .nav ul li {
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
    }
    .nav ul {
      margin: 3px 0;
    }
    table tr td {
      text-align: center;
    }
    .box{
      text-transform: uppercase;
    }
    .modal-content {
    }
    .modal-header {
      background-image: url('/assets/football2.jpg');
      background-size: cover;
      // background-color: $primary-color;
      // opacity: 0.7;
      border-bottom: 4px solid $secondary-color;
    }
    .modal-title {
      text-align: center;
      color: #FFFFFF;
      font-size: 1.8em;
    }
    .close {
      line-height: 1;
      opacity: 0.6;
      font-size: 24px;
    }
    .modal-footer {
      border-top: 0;
    }
    .away-helmets {
      background-image: url('/assets/helmets.jpg');
      width: 85px;
      height: 85px;
      top: 75px;
      left: 100px;
      position: absolute;
    }
    .home-helmets {
      background-image: url('/assets/helmets.jpg');
      width: 85px;
      height: 85px;
      top: 75px;
      right: 100px;
      position: absolute;
    }
    .modal-text {
      color: #000000;
      text-align: center;
      height: 35px;
      font-size: 1.6em;
    }
    .modal-xy {
      text-align: center;
      height: 35px;
      font-size: 1.2em;
    }
    th{
      text-align: center;
    }

    @media screen and (max-width:1400px) {
      .navbar {
        background-position: 0 -75px;
      }
    }

    @media screen and (max-width:1024px) {
      .navbar {
        background-position: 0 -50px;
      }
    }

    @media screen and (max-width:640px) {
      .navbar {
        background-position: 0 -25px;
      }
      .box-headers {
        background-color: $primary-color;
        font-size: 1em;
      }
      .box{
        font-size: 0.65em;
      }
      h6, .home-title {
        font-size: 1.5em;
      }
    }